<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="css/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- pacifico font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Dancing script font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap"
        rel="stylesheet">

    <!-- Marck script font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Marck+Script&family=Pacifico&display=swap"
        rel="stylesheet">


    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>



    <!-- fontawesone -->
    <script src="https://kit.fontawesome.com/8618f6347d.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="img-overlay" style="background-image: url(img/back6.png);"> </div>

    <div class="blogs-heading">
        <h2>Blogs about different health issues</h2>
    </div>
    <hr>


    <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="card">
            <div class="card-body blog-card">
                <img src="img/card1.jpg" alt="">
              <h5 class="card-title">Title of the article</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque cum alias vero officia eum iste optio voluptatem delectus perspiciatis illum nulla quasi aliquam autem nihil, minima numquam unde vitae consectetur mollitia necessitatibus! Molestiae ad iusto deserunt cum reiciendis odio voluptatum, dolores unde explicabo est harum assumenda sit, necessitatibus laboriosam neque?</p>
              <a href="#" class="btn btn-outline-dark">Read full article</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="card">
            <div class="card-body blog-card">
            <img src="img/card2.jpg" alt="">
              <h5 class="card-title">Title of the article</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quisquam quo ipsam quos quod omnis quia iste facere laudantium, repellendus expedita architecto voluptatum similique quasi soluta alias ea odit? Eveniet quia quod dolorem porro labore temporibus voluptates iste? Soluta blanditiis beatae ad vel! Sit recusandae tenetur nisi deleniti! Adipisci, repudiandae?</p>
              <a href="#" class="btn btn-outline-dark">Read full article</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-body blog-card">
                <img src="img/card3.jpg" alt="">
                <h5 class="card-title">Title of the article</h5>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et magnam nihil voluptas dolorem? Atque harum aliquid soluta tempore, rerum adipisci quam blanditiis, sed autem totam dicta voluptatibus officiis qui assumenda dolor repudiandae. Eligendi nobis omnis explicabo perferendis illo vitae, quis quo voluptatem a consectetur vero dolor, aut, fuga esse harum?</p>
                <a href="#" class="btn btn-outline-dark">Read full article</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="card">
              <div class="card-body blog-card">
                <img src="img/card4.jpg" alt="">
                <h5 class="card-title">Title of the article</h5>
                <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo mollitia hic similique deleniti officia pariatur repudiandae architecto, atque sequi, reiciendis dolore animi quasi impedit, expedita ut aperiam doloremque inventore sint quis rem! Quasi veniam harum, repudiandae rerum perferendis debitis obcaecati in expedita repellat, ullam soluta maiores quisquam magnam sapiente incidunt?
                </p>
                <a href="#" class="btn btn-outline-dark">Read full article</a>
              </div>
            </div>
          </div>
      </div>



</body>

</html>