* {
    margin: 0;
    padding: 0 2px;
    padding: 5px !important;
    margin:auto;


}

h2{
    font-family: 'Marck Script', cursive;
    font-size: 18px;

}

.img-overlay
{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    opacity: 0.3;
    background-position:bottom;
    background-size: cover;
    background-repeat: repeat-y;
    width: 100vw;
    height:100vh;
    z-index: -1;


}

.add-heading:hover{
    animation: move 1s forwards;
}

@keyframes move {
     100%{
        color:white;
        background-color: black;
     }

}

.inner-add p{
    margin-top: 115px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.links{
    display: flex;
    flex-direction: row;
    width: 650px;
}
.inner-add-links{
    justify-content: center;
}
.links a{
    color: black;
    font-family: 'Marck Script', cursive !important;
    font-size: 30px;
}
.links a:hover{
    color: black;
    font-family: 'Marck Script', cursive !important;
    font-size: 30px;
    text-decoration: none;
    color: rgb(86, 86, 86);
}
